In [1]:
%load_ext autoreload 
%autoreload 2

In [7]:
from scipeds.data.queries import QueryFilters, TaxonomyRollup
from scipeds.data.completions import CompletionsQueryEngine
from scipeds.data.enums import FieldTaxonomy

from pathlib import Path

import pandas as pd

In [3]:
db_path = Path('data/processed/ipeds.duckdb')

In [4]:
engine = CompletionsQueryEngine(db_path=db_path)

In [15]:
qf = QueryFilters(start_year=1984, end_year=1994)

First let's diagnose the problem -- how many of the CIP codes (converted to their cip2020 version) in the 1984-1994 data are unknown / not in NCSES?

In [20]:
df = engine.field_totals_by_grouping(grouping='gender', query_filters=qf, taxonomy=FieldTaxonomy.cip, by_year=True)
df = df.reset_index()
df.head()

  FieldTaxonomy.cip gender  ...  uni_degrees_within_gender  uni_degrees_total
0           01.0000    men  ...                    1968133            3987235
1           01.0000    men  ...                    1962701            4011107
2           01.0000    men  ...                    1951076            4017624
3           01.0000    men  ...                    1036892            2163263
4           01.0000    men  ...                    1112371            2324652

[5 rows x 7 columns]

In [21]:
cipdf = engine.get_cip_table()
cipdf[cipdf['cip_title'] == "Unknown"]

        cip_title  ... dhs_stem
cip2020            ...
17.0506   Unknown  ...    False
18.0103   Unknown  ...    False
17.0499   Unknown  ...    False
17.0813   Unknown  ...    False
18.1101   Unknown  ...    False
...           ...  ...      ...
18.1029   Unknown  ...    False
17.0603   Unknown  ...    False
01.0202   Unknown  ...    False
17.0703   Unknown  ...    False
08.1205   Unknown  ...    False

[537 rows x 6 columns]

In [26]:
df_w_cip = pd.merge(
    df, cipdf,
    left_on=FieldTaxonomy.cip, left_index=False,
    right_index=True, 
    validate='many_to_one'
)
df_w_cip.head()

  FieldTaxonomy.cip gender  ...                       nsf_broad_field  dhs_stem
0           01.0000    men  ...  Agricultural and biological sciences     False
1           01.0000    men  ...  Agricultural and biological sciences     False
2           01.0000    men  ...  Agricultural and biological sciences     False
3           01.0000    men  ...  Agricultural and biological sciences     False
4           01.0000    men  ...  Agricultural and biological sciences     False

[5 rows x 13 columns]

In [31]:
# How many unique unclassified CIPs per year?
df_w_cip[df_w_cip['cip_title'] == "Unknown"][['year', FieldTaxonomy.cip]].drop_duplicates().groupby('year').size()

year
1984    461
1985    478
1986    469
1987    414
1988    406
1989    410
1990    404
1991    395
1992      2
1993      2
1994      2
dtype: int64

In [32]:
# How many total CIPs per year?
df_w_cip[['year', FieldTaxonomy.cip]].drop_duplicates().groupby('year').size()

year
1984     996
1985    1016
1986    1005
1987     966
1988     956
1989     959
1990     953
1991     941
1992     829
1993     829
1994     825
dtype: int64

Ok so for earlier years it's like half of the CIPs that aren't classified.

We need to figure out why these CIPs aren't being classified. Likely becuase they're not in the 85 -> 90 classifier?